<nav class="navbar navbar-light navbar-expand-md navbar-light bg-light border-bottom fixed-top" data-th-fragment="navbar">
    <a data-th-href="@{/}" class="navbar-brand">Standby</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbar-content">
        <ul class="nav navbar-nav mt-4 mt-md-0 mx-auto row" data-th-classappend="(${#httpServletRequest.requestURI} == '/search') ? 'invisible d-none d-md-inline-block' : null" style="height: 40px;">
            <form method="POST" data-th-action="@{/search}">
                <div class="form-row">
                    <div class="input-group col col-12 col-md-auto">
                        <input type="text" name="q" size="40" required class="form-control" placeholder="Search short films, filmmakers..." />
                        <div class="input-group-append">
                            <button data-th-replace="~{@{fragments/namedButton} :: imgBtn(classes='btn-light border-input', type='submit', src=@{/static/search-icon.svg})}"></button>
                        </div>
                    </div>
                </div>
            </form>
        </ul>
        <th-block sec:authorize="isAuthenticated()">
            <ul class="nav mt-4 mt-md-0 justify-content-between" style="height: 40px;">
                <th-block sec:authorize="hasRole('Filmmaker')">
                    <button data-th-replace="~{@{fragments/button} :: imgBtn(src=@{/static/upload-icon.svg}, href=@{/upload})}"></button>
                </th-block>
                <th-block sec:authorize="hasRole('Company')">
                    <button data-th-replace="~{@{fragments/button} :: imgBtn(src=@{/static/saved-icon.svg}, href=@{/favourites})}"></button>
                </th-block>
                <button data-th-replace="~{@{fragments/button} :: imgBtn(src=@{/static/notification-icon.svg}, href=@{/notifications}, badgeId = 'notificationBadge')}"></button>
                <button data-th-replace="~{@{fragments/button} :: imgBtn(src=@{/static/user-icon.svg}, href=@{/profile})}"></button>

                <button data-th-replace="~{@{fragments/button} :: imgBtn(src=@{/static/logout-icon.svg}, href=@{/logout})}"></button>
            </ul>
        </th-block>
        <script>
            fetch("/notifications/count")
                .then((x) => x.json())
                .then((res) => {
                    if (res.status == 200) {
                        const badgeId = "#notificationBadge";
                        if (res.count) {
                            $(badgeId).text(res.count);
                        }
                    }
                })
                .catch(console.error);
        </script>
    </div>
</nav>
