<div data-th-fragment="comment(commentId, userName, text)" class="d-flex" data-th-classappend="${class}?: null" data-th-style="${style}?: null">
    <div class="flex-grow-0">
        <th-block data-th-switch="${profileId} != null">
            <a data-th-case="true" data-th-href="|/profile/${profileId}|">
                <img data-th-replace="~{@{fragments/profilePicture}(src=${photoUrl}, class='img-fluid', style='max-width: 50px; max-height: 50px')}" />
            </a>
            <th-block data-th-case="false">
                <img data-th-replace="~{@{fragments/profilePicture}(src=${photoUrl}, class='img-fluid', style='width: 50px; height: 50px')}" />
            </th-block>
        </th-block>
    </div>
    <div class="flex-grow-1 pl-3 d-flex flex-column">
        <th-block data-th-switch="${profileId} != null">
            <div data-th-case="true" class="d-flex justify-content-between">
                <div class="d-flex align-items-baseline">
                    <a class="font-weight-bold text-decoration-none" data-th-classappend="${isUploader} ? 'badge badge-dark' : 'text-dark'" data-th-href="${profileId} ? '/profile/' + ${profileId} : null" data-th-text="${userName}"></a>
                    <label class="text-muted ml-2 mb-0" data-th-text="${date}"></label>
                </div>
                <button data-th-if="${deleteable}" name="deleteComment" data-th-value="${commentId}" type="submit" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <span data-th-case="false" class="font-weight-bold" data-th-classappend="${isUploader} ? 'badge badge-dark' : 'text-dark'" data-th-text="${userName}"></span>
        </th-block>
        <span data-th-if="${subscriberCount} != null" class="text-secondary" data-th-text="|${subscriberCount} subscribers|"></span>
        <th-block data-th-if="${text} != ''">
            <p data-th-id="|comment-text-${commentId}|" class="text-break mt-1 collapse text-collapse" style="white-space: pre-line;" data-th-text="${text}"></p>
            <a data-th-if="${collapsable} != null" class="text-dark font-weight-bold text-decoration-none btn-collapse-text collapsed" role="button" data-toggle="collapse" data-th-href="|#comment-text-${commentId}|">
                <span>Show more</span><span>Show less</span>
            </a>
        </th-block>
    </div>
</div>
