<div data-th-fragment="privacyRequest(request)" class="d-flex" data-th-classappend="${class}?: null" data-th-style="${style}?: null">
    <th-block data-th-with="company = ${request.getCompany()}">
        <div class="flex-shrink-0">
            <img data-th-replace="~{@{fragments/profilePicture}(src=${company.getPhotoUrl()}, class='img-fluid', style='width: 75px; height: 75px')}" />
        </div>
        <div class="flex-grow-1 d-flex flex-column flex-md-row justify-content-between pl-3">
	       <div class="d-flex flex-column mb-3 mb-md-0" style="flex-grow: 2">
		       <div class="d-flex align-items-baseline mb-2">
		           <span class="font-weight-bold text-dark" data-th-text="${company.getName()}"></span>
		           <label class="text-muted ml-2 mb-0" data-th-text="|sent you this request ${request.getFormattedRelativeRequestTime()}.|"></label>
		       </div>
		       <span class="text-muted" data-th-text="|${company.getCompanyName()} / ${company.getBusinessPhone()} / ${company.getOfficeAddress()}|"></span>
		       <span class="text-muted" data-th-text="|Tax ID: ${company.getTaxIDNumber()}|"></span>
	       </div>
	       <div class="d-flex flex-grow-1 align-items-center justify-content-center">
	           <th-block data-th-switch="${request.getRequestState().getName()}">
	               <th-block data-th-case="Pending">
	                   <form class="w-100 mr-2" method="POST" data-th-action="@{'/requests/' + ${request.getId()} + '/accept'}">
	                       <button type="submit" class="btn btn-primary btn-block">Accept</button>
	                   </form>
	                   <form class="w-100" method="POST" data-th-action="@{'/requests/' + ${request.getId()} + '/decline'}">
                           <button type="submit" class="btn btn-secondary btn-block">Decline</button>
                       </form>
			       </th-block>
			       <button data-th-case="Accepted" type="submit" class="btn btn-primary btn-block" disabled>Accepted</button>
			       <button data-th-case="Declined" type="submit" class="btn btn-secondary btn-block" disabled>Declined</button>
	           </th-block>
	       </div>
        </div>
    </th-block>
</div>
