<div data-th-fragment="shortFilmItem(id, title)" class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4 d-flex flex-column justify-content-center">
            <a data-th-href="@{'/shortfilm/' + ${id}}" class="img-responsive-16by9">
                <img data-th-replace="~{@{fragments/thumbnail}(src=${thumbnailUrl})}" />
            </a>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="d-flex flex-row align-items-stretch justify-content-between align-items-baseline">
	                <h5 class="card-title m-0">
	                    <a class="text-decoration-none text-dark" data-th-text="${title}" data-th-href="@{'/shortfilm/' + ${id}}"></a>
	                </h5>
	                <div class="d-flex flex-row-reverse d-md-inline-block align-items-start justify-content-between">
		                <th-block data-th-if="${editable} == true">
		                    <button data-th-replace="~{@{fragments/button} :: imgBtn(src=@{/static/edit-icon.svg}, href=@{'/shortfilm/' + ${id} + '/edit'})}"></button>
		                </th-block>
		                <span class="text-muted mx-2 mx-md-0" data-th-if="${uploadDate}" data-th-text="|Uploaded ${uploadDate}|"></span>
	                </div>
                </div>
                <div data-th-if="${showUploader}" data-th-with="uploader = ${shortFilm.getUploader()}" class="d-flex my-3">
                    <a data-th-href="@{'/profile/' + ${uploader.getId()}}">
                    <img data-th-replace="~{@{fragments/profilePicture}(src=${uploader.getPhotoUrl()}, width='30px', height='30px', style='border-radius: 50%; object-fit: cover')}">
                    </a>
                    <a class="text-muted text-decoration-none ml-2" data-th-href="@{'/profile/' + ${uploader.getId()}}" data-th-text="${uploader.getName()}"></a>
                </div>
                <p class="card-text text-collapse m-0" style="white-space: pre-line;" data-th-if="!${#strings.isEmpty(description)}" data-th-text="${description}"></p>
                <label class="card-text text-muted mt-3" data-th-if="${viewCount} != null" data-th-text="|${viewCount} views|"></label>
            </div>
        </div>
    </div>
</div>
