<img data-th-fragment="thumbnail(src)"
data-th-class="${class}?: null"
data-th-src="${src} ? '/uploads/' + ${src} : @{/static/no-thumbnail.svg}"
data-th-alt="${alt}?: null"
data-th-crossorigin="${crossorigin}?: null"
data-th-height="${height}?: null"
data-th-ismap="${ismap}?: null"
data-th-loading="${loading}?: null"
data-th-longdesc="${longdesc}?: null"
data-th-referrerpolicy="${referrerpolicy}?: null"
data-th-sizes="${sizes}?: null"
data-th-srcset="${srcset}?: null"
data-th-usermap="${usermap}?: null"
data-th-width="${width}?: null"
data-th-style="${style}?: null">