#main-container {
    padding-top: 77px;
    min-height: 100vh;
}

.border-input {
    border-color: #ced4da;
}

.badge .close {
    margin-left: .25rem;
    color: inherit;
    font-size: 100%;
    text-shadow: 0 1px 0 rgba(#000, .5);
}