<!DOCTYPE html>
<html data-th-replace="~{@{/fragments/baseLayout} :: layout(~{::title}, ~{::section})}">
    <title>Company profile- Standby</title>
    <section>
        <h3>My profile</h3>
        <hr />
    	<div class="container">
  			<div class="row">
 		 		<span class="float-left" > </span>

    		<div class="col">Company</div>
     		</div></div>
   		 <div class="col">
    		<span class="float-right" >
    			<button  data-th-replace="~{@{/fragments/button} :: imgBtn(src=@{/static/settings-icon.svg}, href=@{/account})}" style="height: 40px"></button>
    		</span>
    	</div>
  
  	 	<div class="container">
  			<div class="row">
  		
  			</div>
  		</div>
    </section>
</html>