<!DOCTYPE html>
<html data-th-replace="~{@{fragments/baseLayout} :: layout(~{::title}, ~{::section})}">
    <title data-th-text="|Editing ${shortFilmEditData.title} - Standby|"></title>
    <section>
        <h3 data-th-text="|Editing shortfilm ${shortFilmEditData.title}|"></h3>
        <hr />
        <div class="row">
            <div class="col-0 col-sm-1"></div>
            <div class="col-12 col-sm-10">
                <form method="POST" data-th-action="@{edit}" data-th-object="${shortFilmEditData}">
                    <div data-th-replace="~{@{fragments/form/errors}}"></div>
                    <div data-th-replace="~{@{fragments/form/success}}"></div>
                    <label class="form-text text-muted">Short film information</label>
                    <div class="text-center bg-light mb-3">
                        <a target="_blank" title="View on Standby" data-th-href="@{'/shortfilm/' + ${shortFilmId}}">
                            <img data-th-replace="~{@{fragments/thumbnail}(src=${thumbnailUrl}, class='img-fluid', style='max-height: 250px')}">
                        </a>
                    </div>
                    <input data-th-replace="~{@{fragments/form/input}(name='title', label='Title', placeholder='Godzilla 2', required='true')}" />
                    <textarea data-th-replace="~{@{fragments/form/textarea}(name='description', label='Description', placeholder='A super awesome description')}"></textarea>
                    <label class="form-text text-muted">Tags</label>
                    <div class="mb-3" data-th-switch="*{tags != null and !tags.isEmpty()}">
                        <th-block data-th-case="true">
                            <th-block data-th-each="tag, stat : *{tags}">
                                <span data-th-replace="~{@{fragments/tag}(text='__${tag}__', closeable='true', closeAction='removeTag', closeParam='__${tag}__')}"></span>
                                <input type="hidden" data-th-field="*{tags[__${stat.index}__]}" data-th-value="${tag}" />
                            </th-block>
                        </th-block>
                        <span data-th-case="false">There are not tags yet!</span>
                    </div>
                    <label class="form-text text-muted">Add a new tag</label>
                    <div class="form-row mb-3">
                        <div class="col-12 col-md-8">
                            <input data-th-replace="~{@{fragments/form/input}(name='newTagName', placeholder='Action, drama...')}" />
                        </div>
                        <div class="col-12 col-md-4">
                            <button type="submit" class="btn btn-primary btn-block" name="addTag">Add</button>
                        </div>
                    </div>
                    <label class="form-text text-muted">Roles</label>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-light">
                                <tr>
                                    <th scope="col" style="min-width: 200px">Filmmaker's username</th>
                                    <th scope="col" style="min-width: 200px">Role</th>
                                    <th scope="col" style="min-width: 200px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <th-block data-th-switch="*{roles != null and !roles.isEmpty()}">
                                    <th-block data-th-case="true">
                                        <tr data-th-each="role, stat : *{roles}">
                                            <th-block data-th-if="*{rolePagination.isIndexVisible(__${stat.index}__)}">
                                                <td class="align-middle">
                                                    <span data-th-text="${role.getFilmmakerName()}"></span>
                                                </td>
                                                <td class="align-middle">
                                                    <span data-th-text="${role.getRoleType().getName()}"></span>
                                                </td>
                                                <td class="align-middle text-right">
                                                    <button type="submit" class="btn btn-danger btn-block" data-th-name="removeRole" data-th-value="${stat.index}">Remove</button>
                                                </td>
                                            </th-block>
                                            <input type="hidden" data-th-field="*{roles[__${stat.index}__].filmmakerName}" data-th-value="${role.getFilmmakerName()}" />
                                            <input type="hidden" data-th-field="*{roles[__${stat.index}__].roleType}" data-th-value="${role.getRoleType()}" />
                                        </tr>
                                        <tr class="bg-light">
                                            <td colspan="3">
                                                <nav data-th-replace="~{@{fragments/form/pagination}(name='rolePagination', size='small')}"></nav>
                                            </td>
                                        </tr>
                                    </th-block>
                                    <tr data-th-case="false">
                                        <td colspan="3">There are no roles yet! add the first one</td>
                                    </tr>
                                </th-block>
                                <tr class="bg-light">
                                    <td>
                                        <input data-th-replace="~{@{fragments/form/input}(name='newRoleFilmmaker', placeholder='example1234', prepend='@')}" />
                                    </td>
                                    <td>
                                        <select data-th-replace="~{@{fragments/form/select}(name='newRoleType', values='${T(io.github.fourfantastics.standby.model.RoleType).values()}')}"></select>
                                    </td>
                                    <td class="text-right">
                                        <button type="submit" class="btn btn-primary btn-block" name="addRole">Add role</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success btn-block" name="applyChanges">Apply changes</button>
                </form>
                <br>
            </div>
            <div class="col-0 col-sm-1"></div>
        </div>
    </section>
</html>
