<html data-th-replace="~{@{fragments/baseLayout} :: layout(~{::title}, ~{::section})}">
    <title>Ooops! - Standbyy</title>
    <section>
        <div class="row mt-5 mb-5">
            <div class="col-4 col-md-5"></div>
            <div class="col">
                <img data-th-src="@{/static/exclamation.svg}" />
            </div>
            <div class="col-4 col-md-5"></div>
        </div>
        <div class="text-center">
            <h3 data-th-text="|Error ${statusCode}|"></h3>
            <h5 data-th-text="${#strings.isEmpty(message)} ? 'Something went wrong :(' : ${message}">Something went wrong :(</h5>
            <div class="mt-4">
                <a href="/" class="btn btn-primary">Go back home</a>
                <a class="btn btn-secondary btn-collapse-text collapsed" data-toggle="collapse" data-target="#details"><span>Show technical details</span><span>Hide technical details</span></a>
            </div>
        </div>
        <div class="alert alert-warning collapse mt-4" id="details">
            <th-block data-th-switch="${!throwables.isEmpty()}">
                <th-block data-th-case="true">
                    <th-block data-th-each="throwable, stat : ${throwables}">
                        <h5 data-th-if="${stat.index} != 0" class="text-center mt-4">Caused by:</h5>
	                    <h4 class="alert-heading text-center text-break" data-th-text="|${throwable.getClass().getName()}|"></h4>
	                    <p data-th-text="${throwable.getMessage()}"></p>
	                    <button class="btn btn-secondary btn-block btn-collapse-text collapsed" type="button" data-toggle="collapse" data-th-attr="data-target='.stbstacktrace-' + ${stat.index}">
                            <span>Show stack trace</span><span>Hide stack trace</span>
                        </button>
	                    <div data-th-class="|collapse collapsed stbstacktrace-${stat.index} mt-2|">
	                       <div class="d-flex flex-column">
		                       <span data-th-each="trace : ${throwable.getStackTrace()}" class="text-break" data-th-text="${trace}"></span>
		                   </div>
	                    </div>
                    </th-block>
                </th-block>
                <th-block data-th-case="false">
                    <span>There is no more information about the error</span>
                </th-block>
            </th-block>
        </div>
    </section>
</html>
