<!DOCTYPE html>
<html
	data-th-replace="~{@{fragments/baseLayout} :: layout(~{::title}, ~{::section})}"
	data-th-action="@{/profile}" data-th-object="${filmmakerProfileData}">
<title>Filmmaker profile- Standby</title>
<section>
	<h3>User profile</h3>
	<hr />
	<div class="container">
		<div class="row">
			<div class="col">
			<span data-th-text="${filmmakerProfileData.getName()}"></div>
			<div class="col">
				<form data-th-object="${accountButton}">
					<span class="float-right" th:if='${accountButton}'>
						<button
							data-th-replace="~{@{fragments/button} :: imgBtn(src=@{/static/settings-icon.svg}, href=@{/account})}"></button>
					</span>
				</form>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-3 text-center mt-md-0 mt-2 mb-3 mb-md-0">
				<img
					data-th-replace="~{@{fragments/profilePicture}(src=${filmmakerProfileData.getPhotoUrl()}, class='img-fluid', style='max-height: 100px')}">
			</div>
			<div class="col-12 col-md-3">
				<div class="row">
					<div class="col-12 col-md-4 text-center ">
						<span class="badge badge-secondary"
							data-th-text="${#lists.size(filmmakerProfileData.getUploadedShortFilms())}"></span>
						<div class="row">
							<div class="col-12 col-md-4 text-center">
								<h6>Shortfilms</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3 ">
				<div class="row">
					<div class="col-12 col-md-4 text-center ">
						<span class="badge badge-secondary"
							data-th-text="${#lists.size(filmmakerProfileData.getFilmmakerSubscribers())}"></span>
						<div class="row">
							<div class="col-12 col-md-4 text-center">
								<h6>Followers</h6>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-12 col-md-3 ">
				<div class="row">
					<div class="col-12 col-md-4 text-center ">
						<span class="badge badge-secondary"
							data-th-text="${#lists.size(filmmakerProfileData.getFilmmakersSubscribedTo())}"></span>
						<div class="row">
							<div class="col-12 col-md-4 text-center">
								<h6>Followed</h6>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-3 "></div>
			<div class="col-12 col-md-3 ">
				<div class="">
					<h6 class="font-weight-bold"
						data-th-text="${filmmakerProfileData.getFullname()}"></h6>
				</div>
				<div class=" ">
					<h6 class=""
						data-th-text="|Lives in ${filmmakerProfileData.getCity()} (${filmmakerProfileData.getCountry()})|"></h6>
				</div>
			</div>
			<div class="col-12 col-md-6 ">
				<div>
					<h6 class="" data-th-text="${filmmakerProfileData.getPhone()}"></h6>
				</div>
				<div>
					<h6 class="" data-th-text="${filmmakerProfileData.getEmail()}"></h6>
				</div>
			</div>
		</div>
	</div>
	<br> <br>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 mb-3 mb-md-0">
				<form
					data-th-action="@{'/profile/'+ ${filmmakerProfileData.getId()}+'/privacyrequest'}"
					method="POST" data-th-object="${hidePrivacyRequestButton}">
					<button th:unless='${hidePrivacyRequestButton}' type="submit"
						class="btn btn-primary btn-block">Request contact info</button>
				</form>
				<form
					data-th-action="@{'/profile/'+ ${filmmakerProfileData.getId()}+'/privacyrequest'}"
					method="POST" data-th-object="${disablePrivacyRequestButton}">
					<button th:if='${disablePrivacyRequestButton}' type="submit"
						class="btn btn-secondary btn-block" disable>Already
						requested</button>
				</form>
			</div>
			<div class="col-12 col-md-6">
				<form
					data-th-action="@{'/profile/'+ ${filmmakerProfileData.getId()}+'/subscription'}"
					method="POST" data-th-object="${hidefollowButton}">
					<button th:unless='${hideFollowButton}' type="submit"
						class="btn btn-primary btn-block">+ Follow</button>
				</form>

				<form
					data-th-action="@{'/profile/'+ ${filmmakerProfileData.getId()}+'/unsubscription'}"
					method="POST" data-th-object="${unfollowButton}">
					<button th:if='${unfollowButton}' type="submit"
						class="btn btn-primary btn-block">Unfollow</button>
				</form>
			</div>

		</div>
	</div>
	<br>

	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<a class="nav-link active" id="nav-uploadShortfilms-tab"
				data-toggle="tab" href="#nav-uploadShortfilms" role="tab"
				aria-controls="nav-uploadShortfilms" aria-selected="true">
				Upload shortfilms </a> <a class="nav-link"
				id="nav-attachedShortFilms-tab" data-toggle="tab"
				href="#nav-attachedShortFilms" role="tab"
				aria-controls="nav-attachedShortFilms" aria-selected="false">Attached
				shortfilms</a>
		</div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active" id="nav-uploadShortfilms"
			role="tabpanel" aria-labelledby="nav-uploadShortfilms-tab">
			<form method="POST"
				data-th-action="@{'/profile/'+ ${filmmakerProfileData.getId()}}"
				data-th-object="${filmmakerProfileData}">
				<div
					data-th-switch="*{uploadedShortFilms != null and !uploadedShortFilms.isEmpty()}">
					<div data-th-case="true">
						<div data-th-each="shortFilm : *{uploadedShortFilms}">
							<div class="card mb-3">
								<div class="row no-gutters">
									<div class="col-md-4">
										<a data-th-href="@{'/shortfilm/'+ ${shortFilm.getId()}}">
											<img
											data-th-replace="~{@{fragments/thumbnail}(src=${shortFilm.getThumbnailUrl()}, class='card-img', alt='...')}">
										</a>
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<form data-th-object="${accountButton}">
												<span class="float-right" th:if='${accountButton}'>
													<button
														data-th-replace="~{@{fragments/button} :: imgBtn(src=@{/static/edit-icon.svg}, href=@{'/shortfilm/'+ ${shortFilm.getId()}+'/edit'})}"></button>
												</span>
											</form>
											<h5 class="card-title" data-th-text="${shortFilm.getTitle()}"></h5>
											<p class="card-text"
												data-th-text="${shortFilm.getDescription()}"></p>
											<p class="card-text"
												data-th-text="|${shortFilm.getViewCount()} views|"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div data-th-case="false">
						<br>
						<div
							class="d-flex p-2 bd-highlight bg-secondary text-white rounded-lg">There
							are no shortfilms</div>
					</div>
				</div>
			</form>
		</div>
		<div class="tab-pane fade" id="nav-attachedShortFilms" role="tabpanel"
			aria-labelledby="nav-attachedShortFilms-tab">
			<form method="POST"
				data-th-action="@{'/profile/'+ ${filmmakerProfileData.getId()}}"
				data-th-object="${filmmakerProfileData}">
				<div
					data-th-switch="*{attachedShortFilms != null and !attachedShortFilms.isEmpty()}">
					<div data-th-case="true">
						<div data-th-each="shortFilm : *{attachedShortFilms}">
							<div class="card mb-3">
								<div class="row no-gutters">
									<div class="col-md-4">
										<a data-th-href="@{'/shortfilm/'+ ${shortFilm.getId()}}">
											<img
											data-th-replace="~{@{fragments/thumbnail}(src=${shortFilm.getThumbnailUrl()}, class='card-img', alt='...')}">
										</a>
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<h5 class="card-title" data-th-text="${shortFilm.getTitle()}"></h5>
											<p class="card-text"
												data-th-text="${shortFilm.getDescription()}"></p>
											<p class="card-text"
												data-th-text="|${shortFilm.getViewCount()} views|"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div data-th-case="false">
						<br>
						<div
							class="d-flex p-2 bd-highlight bg-secondary text-white rounded-lg">There
							are no shortfilms</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<br>
</section>
</html>