<!DOCTYPE html>
<html
	data-th-replace="~{@{fragments/baseLayout} :: layout(~{::title}, ~{::section})}"
	data-th-action="@{/profile}" data-th-object="${filmmakerProfileData}">

<title>Filmmaker profile- Standby</title>
<section>
	<h3 data-th-text="|My profile |"></h3>
	<hr />
	<div class="container">
		<div class="row">
			<div class="col">
				<span class="left" data-th-text="|${filmmakerProfileData.fullname}|">
				</span>
			</div>
			<div class="col">
				<span class="float-right">
					<button
						data-th-replace="~{@{fragments/button} :: imgBtn(src=@{/static/settings-icon.svg}, href=@{/account})}"></button>
				</span>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-3 text-center mt-md-0 mt-2 mb-3 mb-md-0">
				<img
					data-th-replace="~{@{fragments/profilePicture}(src=${photoUrl}, class='img-fluid', style='max-height: 100px')}">
			</div>
			<div class="col-12 col-md-3">
				<div class="row">
					<div class="col-12 col-md-4 text-center ">
						<span class="badge badge-secondary"
							data-th-text="${#lists.size(filmmakerProfileData.uploadedShortFilms)}"></span>
						<div class="row">
							<div class="col-12 col-md-4 text-center">
								<h6 data-th-text="|Shortfilms|"></h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3 ">
				<div class="row">
					<div class="col-12 col-md-4 text-center ">
						<span class="badge badge-secondary"
							data-th-text="${#lists.size(filmmakerProfileData.filmmakerSubscribers)}"></span>
						<div class="row">
							<div class="col-12 col-md-4 text-center">
								<h6 data-th-text="|Followers|"></h6>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-12 col-md-3 ">
				<div class="row">
					<div class="col-12 col-md-4 text-center ">
						<span class="badge badge-secondary"
							data-th-text="${#lists.size(filmmakerProfileData.filmmakersSubscribedTo)}"></span>
						<div class="row">
							<div class="col-12 col-md-4 text-center">
								<h6 data-th-text="|Followed|"></h6>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 mb-3 mb-md-0">
					<button type="submit" class="btn btn-primary btn-block">Request
						contact info</button>
				</div>
				<div class="col-12 col-md-6">
					<button type="submit" class="btn btn-primary btn-block">+
						Follow</button>
				</div>
			</div>
	</div>
	<br>
	<div class="card text-center">
		<div class="card-header">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6 mb-3 mb-md-0">
						<button type="submit" class="btn btn-secondary btn-block">Shortfilms</button>
					</div>
					<div class="col-12 col-md-6">
						<button type="submit" class="btn btn-secondary btn-block">Other</button>
					</div>
				</div>
			</div>
		</div>
		<div class=container data-th-each="shortfilm : *{uploadedShortFilms}">
				<span data-th-text="${shortfilm.getTitle()}"></span>
				<span class="left" data-th-text="|${filmmakerProfileData.fullname}|"></span>
			</div>
		</div>
		<br>
		
		<div class="table-responsive">
                        <table class="table">
                            <thead class="bg-light">
                                <tr>
                                    <th scope="col"><button type="submit" class="btn btn-secondary btn-block">Shortfilms</button></th>
                                    <th scope="col"><button type="submit" class="btn btn-secondary btn-block">Other</button></th>
                                </tr>
                            </thead>
                            <tbody>
                                <th-block data-th-switch="*{uploadedShortFilms!= null and !uploadedShortFilms.isEmpty()}">
                                    <th-block data-th-case="true">
                                        <tr data-th-each="shortfilm : *{uploadedShortFilms}">
                                            <td class="align-middle">
                                                <span data-th-text="${shortfilm.getTitle()}"></span>
                                            </td>
                                    
                                        </tr>
                                    </th-block>
                                    
                                </th-block>
                                
                            </tbody>
                            
                        </table>
                    </div>
		

</section>
</html>