<html data-th-replace="~{@{/fragments/baseLayout} :: layout(~{::title}, ~{::section})}">
    <title>Inicio</title>
    <section>
        <th-block data-th-if="${user.type.toString()} == 'Filmmaker'">
            <h3>Welcome again, [[${user.name}]]</h3>
            <p>We know your full name is [[${user.fullname}]] and that you are a filmmaker.</p>
            <p>Oh! your email also is [[${user.email}]], and we know you live in [[${user.city}]] ([[${user.country}]])</p>
        </th-block>
        <th-block data-th-if="${user.type.toString()} == 'Company'">
            <h3>Welcome back, [[${user.name}]]</h3>
            <p>We know you are a company named [[${user.companyName}]].</p>
            <p>Your business email is [[${user.email}]], your office address is [[${user.officeAddress}]] and your business phone is [[${user.businessPhone}]]</p>
        </th-block>
        <p>You can log out <a data-th-href="@{/logout}">clicking here!</a></p>
    </section>
</html>