<html
	data-th-replace="~{@{fragments/baseLayout} :: layout(~{::title}, ~{::section})}">
<title>Login - Standby</title>
<section>
	<h3>Login</h3>
	<hr />
	<div class="row">
		<div class="col-0 col-md-1"></div>
		<div class="col-12 col-md-10">
			<form method="POST" data-th-action="@{/login}"
				data-th-object="${credentials}">
				<div data-th-replace="~{@{fragments/form/errors}}"></div>
				<input
					data-th-replace="~{@{fragments/form/input}(name='name', label='User name', required='true')}">
				<input
					data-th-replace="~{@{fragments/form/input}(name='password', label='Password', type='password', placeholder='********', required='true')}">
				<br>
				<button type="submit" class="btn btn-primary btn-block">Log
					in</button>
			</form>
			<div class="form-row pt-3 pt-md-0">
				<div class="col-12 col-md-6 mb-3 mb-md-0">
					<a data-th-href="@{/register/filmmaker}" type="button"
						class="btn btn-outline-primary btn-block">Register as a Filmmaker</a>
				</div>
				<div class="col-12 col-md-6">
					<a data-th-href="@{/register/company}" type="button"
						class="btn btn-outline-primary btn-block">Register as a Company</a>
				</div>
			</div>
		</div>
		<div class="col-0 col-md-1"></div>
	</div>
</section>
</html>
