<!DOCTYPE html>
<html data-th-replace="~{@{/fragments/baseLayout} :: layout(~{::title}, ~{::section}, ~{::link})}">
    <title>Register as a filmmaker - Standby</title>
    <section>
        <h3>Register as filmmaker</h3>
        <hr />
        <div class="row">
            <div class="col-0 col-sm-1"></div>
            <div class="col-12 col-sm-10">
                <form>
                    <label class="form-text text-muted">Account information</label>
                    <div class="form-group">
                        <label>User name</label>
                        <input type="text" class="form-control" placeholder="exampleUser1234" />
                    </div>
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" placeholder="example@abc.com" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="*********" />
                    </div>
                    <div class="form-group">
                        <label>Confirm password</label>
                        <input type="password" class="form-control" placeholder="*********" />
                    </div>
                    <br>
                    <label class="form-text text-muted">Personal information</label>
                    <div class="form-group">
                        <label>Full name</label>
                        <input type="text" class="form-control" placeholder="John Doe" />
                    </div>
                    <div class="form-row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Country</label>
                                <input type="text" class="form-control" placeholder="Spain" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control" placeholder="Seville" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone number</label>
                        <input type="phone" class="form-control" placeholder="+34 612345678" />
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
            </div>
            <div class="col-0 col-sm-1"></div>
        </div>
    </section>
</html>
