<!DOCTYPE html>
<html data-th-replace="~{@{fragments/baseLayout} :: layout(~{::title}, ~{::section})}">
    <title>Privacy requests - Standby</title>
    <section>
        <h3>Privacy requests</h3>
        <hr />

        <th-block data-th-switch="${!requestData.getRequests().isEmpty()}">
            <th-block data-th-case="true">
                <th-block data-th-each="request : ${requestData.getRequests()}">
                    <div data-th-replace="~{@{fragments/privacyRequest}(${request})}"></div>
                </th-block>
            </th-block>
            <th-block data-th-case="false">
                <div class="alert alert-dark">You don't have any privacy requests yet!</div>
            </th-block>
        </th-block>

        <form method="POST" data-th-action="@{requests}" data-th-object="${requestData}">
            <div data-th-replace="~{@{fragments/form/pagination}('privacyRequestPagination')}"></div>
        </form>
    </section>
</html>
