<!DOCTYPE html>
<th-block data-th-with="shortFilm = ${shortFilmViewData.getShortFilm()}, comments = ${shortFilmViewData.getComments()}">
    <html data-th-replace="~{@{fragments/baseLayout} :: layout(~{::title}, ~{::section})}">
        <title data-th-text="|Watching ${shortFilm.getTitle()} - Standby|"></title>
        <section>
            <div class="bg-light embed-responsive embed-responsive-16by9 mb-2">
                <video controls data-th-poster="@{'/uploads/' + (${shortFilm.getThumbnailUrl()})?: '/static/no-thumbnail.svg'}">
                    <source data-th-src="@{'/uploads/' + ${shortFilm.getVideoUrl()}}" />
                    <span>Your browser does not support HTML5 video tag.</span>
                </video>
            </div>
            <div class="mb-2">
                <th-block data-th-each="tag : ${shortFilm.getTags()}"> <span data-th-replace="~{@{fragments/tag}(text='#__${tag.getName()}__', type='light')}"></span> </th-block>
            </div>
            <h4 data-th-text="${shortFilm.getTitle()}"></h4>
            <div class="d-flex">
                <label class="text-muted" data-th-text="|${shortFilm.getViewCount()} views|"></label> <label class="text-muted mx-2">-</label>
                <label class="text-muted" data-th-text="|Uploaded ${shortFilm.getFormattedUploadDate()}|"></label>
            </div>
            <hr class="mt-2" />
            <th-block data-th-with="uploader = ${shortFilm.getUploader()}">
                <div
                    data-th-replace="~{@{fragments/comment}(
                                            commentId=op,
                                            userName=${uploader.getName()},
                                            text=${shortFilm.getDescription()},
                                            photoUrl=${uploader.getPhotoUrl()}, 
                                            profileId=${uploader.getId()},
                                            subscriberCount=${#lists.size(uploader.getFilmmakerSubscribers())}
                                        )}"
                ></div>
            </th-block>
            <hr class="mt-3" />
            <form method="POST" data-th-action="@{${shortFilm.getId()}}" data-th-object="${shortFilmViewData}">
                <span data-th-text="|${#lists.size(shortFilm.getComments())} comments|"></span>
                <div class="d-flex mt-4">
                    <div class="flex-grow-0">
                        <img data-th-replace="~{@{fragments/profilePicture}(src=${shortFilmViewData.getWatcherPhotoUrl()}, class='img-fluid', style='max-width: 50px; max-height: 50px')}" />
                    </div>
                    <div class="flex-grow-1 pl-3 d-flex flex-column">
                        <th-block data-th-switch="${shortFilmViewData.getWatcherId()} != null">
                            <th-block data-th-case="true">
                                <textarea data-th-replace="~{@{fragments/form/textarea}(name='newCommentText', placeholder='Add a comment...')}"></textarea>
                                <div class="d-flex">
                                    <button type="submit" class="btn btn-primary ml-auto" name="postComment">Comment</button>
                                </div>
                            </th-block>
                            <span data-th-case="false" class="text-dark font-weight-bold">You need to be registered in order to comment. Already registered? <a href="/login">Log in</a></span>
                        </th-block>
                    </div>
                </div>
                <th-block data-th-unless="${shortFilmViewData.getComments().isEmpty()}">
                        <th-block data-th-each="comment : ${shortFilmViewData.getComments()}">
                            <div
                                data-th-replace="~{@{fragments/comment}(
                                            class='mb-4',
                                            commentId=${comment.getId()},
                                            userName=${comment.getUser().getName()},
                                            text=${comment.getText()},
                                            photoUrl=${comment.getUser().getPhotoUrl()}, 
                                            profileId=(${comment.getUser().getType().getName()} == 'Filmmaker' ? ${comment.getUser().getId()} : null),
                                            date=${comment.getFormattedDate()},
                                            collapsable=(${comment.isCollapsable()} ? true : null)
                                        )}"
                            ></div>
                        </th-block>
                        <nav data-th-replace="~{@{fragments/form/pagination}('commentPagination')}"></nav>
                    </th-block>
            </form>
            <br />
            <br />
            <br />
        </section>
    </html>
</th-block>
